selenium>=4.10.0,<5.0.0  # Evitar cambios mayores que puedan romper compatibilidad
webdriver-manager>=4.0.0,<5.0.0
pillow>=9.4.0,<10.0.0
requests>=2.28.0,<3.0.0
beautifulsoup4>=4.11.0,<5.0.0
pymongo[srv]>=4.3.3,<5.0.0
celery[redis]>=5.2.7,<6.0.0  # Incluye soporte para Redis
redis>=4.3.4,<5.0.0
python-dotenv>=1.0.0,<2.0.0
supervisor>=4.2.5,<5.0.0


